{{ template "chart.header" . }}
{{ template "chart.description" . }}

## Required Values

Set the `stressCmd` to a command that you might run with stress, such as `stress -c 1`.

{{ template "chart.valuesSection" . }}
